
@import url('https://fonts.googleapis.com/css2?family=Exo:wght@300&family=Lato:wght@300&family=Oswald:wght@300&display=swap');



html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;


}


body {
    background-color: blue;

}

/* -----------------------------------------------Nav Bar */
nav {
    background-color: burlywood;
    height: 10%;
    width: 100%;
    justify-content: center;
    display: flex;
    margin-bottom: 20px;

}

nav>ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

nav>ul>li {
    padding-left: 1rem;
    padding-right: 1rem;
    text-decoration: none;
}

nav>ul>li>a {
    text-decoration: none;
    font-size: 1rem;
    color: white;
    text-align: center;
}

@media all and (min-width: 1024px) {
    nav>ul>li>a {
        font-size: 1.5rem;
    }
}






/* -----------------------------------------------Main quiz area */

.main-quiz-area {
    background-color: orange;
    height: 85%;
    width: 80%;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    border-radius: 10px;
    
}

.welcome-quiz {
    margin: 0;
    font-size: 2rem;
    padding-top: 3rem;
    padding-bottom: 1.5rem;
    font-family: 'Press Start 2P', cursive;
}

/* -------------------------------------- Footer */

footer {
    background-color: yellow;
    height: 10%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

footer>a {
    list-style-type: none;
    color: blue;
    margin: 0;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}