@import url('https://fonts.googleapis.com/css2?family=Exo:wght@300&family=Lato:wght@300&family=Oswald:wght@300&display=swap');



html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;


}


body {
    background-color: blue;

}

/* -----------------------------------------------Nav Bar */
nav {
    background-color: black;
    height: 10%;
    width: 100%;
    justify-content: center;
    display: flex;
    margin-bottom: 20px;

}

nav>ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

nav>ul>li {
    padding-left: .8rem;
    padding-right: .8rem;
    text-decoration: none;
}

nav>ul>li>a {
    text-decoration: none;
    font-size: 1rem;
    color: #006fff;
    text-align: center;
    font-family: 'Press Start 2P', cursive;
    transition: .7s ease;
}

nav>ul>li>a:hover {
    color: #ff005c;
    backdrop-filter: blur(20px);
    filter: blur(1px);
}


@media all and (min-width: 1024px) {
    nav>ul>li>a {
        font-size: 1.5rem;
    }
}






/* -----------------------------------------------Main quiz area */

.main-quiz-area {
    background-color: rgb(255, 115, 0);
    height: 85%;
    width: 80%;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    border-radius: 10px;
    margin-bottom: 20px;
    border: solid 3px rebeccapurple;

}

.welcome-quiz {
    margin: 0;
    font-size: 1.7rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-family: 'Press Start 2P', cursive;
}

.btn {
    text-decoration: none;
    font-family: 'Press Start 2P', cursive;
    font-size: 1rem;
    font-weight: 400;
    color: black;
    border: solid 3px black;
    background-color: #ff005c;
    padding: 5px;
    border-radius: 10px;
    transition: 0.5s ease;
    margin-bottom: 10px;
    display: block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}


#start-game:hover {
    transform: scale(1.03);
    cursor: pointer;
    background-color: black;
    color: pink;
    border: solid 1.5px pink;
}

.btn-help:hover {
    transform: scale(1.03);
    cursor: pointer;
    background-color: black;
    color: pink;
    border: solid 1.5px pink;
    margin-bottom: 30px;
}

.welcome-img>img {
    height: 200px;
    width: 200px;
    margin-bottom: 40px;
}

@media all and (min-width: 768px) {
    .btn {
        width: 50%
    }
}

@media all and (min-width: 1024px) {
    .welcome-img>img {
        margin-bottom: 100px;
    }
    #start-game {
        margin-bottom: 30px;
    }
    .btn {
        width: 33%;
    }
}

/* -------------------------------------- Footer */

footer {
    background-color: black;
    height: 10%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

footer>a {
    list-style-type: none;
    color: #006fff;
    margin: 0;
    font-size: 1.3rem;
    transition: 0.5s ease;

}

footer > a:hover {
    color: white;
    transform: scale(1.1);
    backdrop-filter: blur(10px);
    filter: blur(.5px);
}